body {
	color: white !important;
	background-color: #660000 !important;
	font-family: "Arial";
	margin: auto !important;
	width: 50% !important;
	text-align: center !important;
	padding-right: 14%;
	padding-left: 14%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#ticketsOpen, #openTicket, #send {
	float: left;
}

#messagesWaiting, #viewTickets, #cancel {
	float: right;
}

.button {
	background-color: #595959;
}

#login {
	padding-top: 25%;
	padding-right: 5%;
	padding-left: 5%;
}

.logout {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
}

.scrollable {
	overflow-y: scroll;
}

.scrollable select {
	border: none;
}
