body {
	color: white;
	background-color: #660000;
	font-family: "Arial";
	padding-right: 14%;
	padding-left: 14%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	display: block;
	text-decoration: none;
}

#send {
	float: left;
}

#messagesWaiting, #viewTickets, #cancel {
	float: right;
}

button {
	background-color: #595959;
	color: white !important;
	cursor: pointer !important;
	pointer-events: auto !important;
}

#login {
	padding-top: 25%;
	padding-right: 5%;
	padding-left: 5%;
}

.logout {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5%;
}

.scrollable {
	overflow-y: scroll;
}

.scrollable select {
	border: none;
}

.newTicket {
	padding-top: 10%;
	padding-bottom: 10%;
}
