body {
	color: white !important;
	background-color: #660000 !important;
	font-family: "Arial";
	padding-right: 14%;
	padding-left: 14%;
	margin: auto !important;
	width: 50%;
	text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	text-align: center;
	position: relative;
}

#ticketsOpen, #send {
	float: left;
}

#messagesWaiting, #viewTickets, #cancel {
	float: right;
}

.button {
	background-color: #595959;
	color: white !important;
	cursor: pointer !important;
	pointer-events: auto !important;
}

#login {
	padding-top: 25%;
	padding-right: 5%;
	padding-left: 5%;
}

.logout {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5%;
}

.scrollable {
	overflow-y: scroll;
}

.scrollable select {
	border: none;
}

.newTicket {
	padding-top: 10%;
	padding-bottom: 10%;
}

#ticketHistory {
	border: 2px black;
	height: 20%;
}
